.text{
  font-size: 14px;
}
.emphasis{
  font-size: 32px;
  font-weight: bold;
  color: red;
}

.text-marker{
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(transparent 75%, yellow 75%);
}

.link {
  font-size: 14px;
  color: #0051e0;
}

.title-inner {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 3px dashed #000;
  padding-bottom: 1px;
}